.footer{
    overflow: hidden;
    position: sticky;
    top: 100px;
    background-color:#000;
    padding: 20px 10px;
   
}

h1{
    font-family: Futura;
    color: #fff;
    font-size: 20px;
}

a{
    font-family: Futura;
    color: #fff;
    text-decoration: none;
    padding:0px 10px ;
    font-size: 17px;
}

a:hover{
    color:rgb(240, 42, 82);
}

i{
    font-family: Futura;
    padding: 0px 10px;
}