

form{
    margin-top: 10%;
    width: 50%;
}

h1{
    font-family: Futura;
    font-weight: bolder;
}

p{
    font-family: Futura; 
}

img{
    border-radius: 6px;
    padding:10px 20px ;
    width: 100%;
    height: 500px;
    object-fit: cover;
}