
    <h3  class="sub-heading">About Us</h3>
    <h1 class="heading">Why Choose Us?</h1>
    <div class="row">
  
            <div class="image">
                <img src="../../assets/images/b.jpg" alt="">
            </div>
        
        

        <div class="content">
            <h3>Best Food made with love</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus quas veniam
                 ab eaque iusto sapiente. Dicta molestias sint praesentium deserunt ducimus repellendus iure, amet
                  asperiores impedit quisquam atque aperiam esse.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iste cupiditate perferendis quod nihil. At accusantium cupiditate fugit assumenda omnis. Temporibus quibusdam ratione cum, eligendi officiis ducimus
                 eius exercitationem! Id.</p>

            <div class="icons-container">
                <div class="icons">
                    <i class="bi bi-bicycle"></i>
                    <span>Free Delivery</span>
                </div>
                <div class="icons">
                    <i class="bi bi-currency-dollar"></i>
                    <span>Easy Payments</span>
                </div>
                <div class="icons">
                    <i class="bi bi-headset"></i>
                    <span>24/7 Service</span>
                </div>


                
            </div>
            <button class="btn btn-md btn-dark mt-3" style="font-family: Futura;">Learn More</button>      

        </div>
    </div>

