body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  
  .main{
    width: 100%;
  }
  
  // nav{
  //   width: 100%;
  //   background-color:black;
  //   height: 80px;
  //   line-height: 80px;
  //   display: flex;
  //   justify-content: space-between;
  // }
  
  // .logo a{
  //   font-size: larger;
  //   color: crimson;
  //   font-weight: bolder;
  //   font-family: Brush Script MT;
  //   margin: left;
  // }
  
  // a{
  //   text-decoration: none;
  //   color: #fff;
  //   font-size: 17px;
  //   transition: 0.5s all ease;
  // }
  
  // ul{
  //   margin: 0px;
  // }
  // ul li{
  // float:left;
  // padding: 25px 15px;
  // list-style: none;
  // }
  
  // ul li a:hover {
  // color: crimson;
  // }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   .container{
      width: 100%;
      background:black;
      height: 80px;
    //  box-shadow: 0 .5rem 1rem  rgb(0,0,0,.1);
  //     // box-sizing: border-box;
  //     // display: flex;
   }
  
  
  .nav-item a{
     font-family:Arial,bold;
     text-decoration: none;
       color:white;
      font-weight: 600;
      text-transform: uppercase;
      margin-right: 15px;
       // transition: all 0.4s;
  }
  
   .nav-item a:hover{
      color:crimson;
   }
  
  
    .navbar-band{
     height: 50px;
       width: 100px;
  }
  
   span{
       font-family: Brush Script MT;
     color:crimson;
    font-size:larger;
      font-weight:bolder;
   }
  
  
  
  
  // header{
  //     position: fixed;
  //     top: 0; left:0 ; right:0;
  //     z-index: 1000;
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //     background: #fff;
  //     padding: 1rem 3%;
  //     box-shadow: 0 .5rem 1rem  rgb(0,0,0,.1);
  // }
  
  // span{
  //     font-family: Brush Script MT;
  //     font-size: larger;
  //     font-weight: bolder;
  //     color:crimson;
  //     padding-right: 3rem;
  
  // }
  
  // header .navbar a{
  //     font-size: 1rem;
  //     margin-left: 1rem;
  //     color:#666;
  // }
  
  // header .navbar a:hover{
  //     color:red;
  // }
  
          
  
  
  
  
  
  
  
  // // .navbar-brand{
  // //     font-weight: bold;
  // //     font-family:'Nunito', sans-serif;
  // //     box-sizing: border-box;
  // //     text-transform: capitalize;
  // //     font-weight: bolder;
  // //     //font-family:Georgia, 'Times New Roman', Times, serif;
  // // }
  
  // // .nav-item{
  // //     font-weight: bold;
  // //     font-family:Georgia, 'Times New Roman', Times, serif;
      
  // // }
  
  
  